html,body {
    margin:0;
    padding:0;
    }

.header{
    background-color: whitesmoke;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom:3px solid green;
    z-index: 999;
}

header .site_title{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration:none;
    z-index: 10;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}



header .site_nav{
    margin-left: auto;
    z-index: 10;
    margin-top: 10px;
    width: 30%;
}

header .site_nav a{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    text-decoration:none;
    display: inline-block;
    color: black;
    z-index: 10;
    margin-left: 20px;
}

.titre_presentation{
    text-align: center;
    padding-top: 5%;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 200%;
}

.texte_presentation{
  text-align: center;
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  font-size: 150%;
}

.bg_image{
    width: 100%;
    height: auto;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.panneau_produits{
    margin-top: 100px;
    background-color:whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    text-align: center;
}


.produits{
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.prix_produit{
  text-align: center;
  color: darkslategray;
  font-family: 'Lobster', cursive;
  font-size: 200%;
  margin-top: 0;
}

.nom_produit{
  text-align: center;
  color: darkslategray;
  font-family: 'Lobster', cursive;
  font-size: 200%;
  margin-bottom: 0;
}

.nom_produits{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-decoration:none;
  padding-top: 50px;

}

.produits img{
    width: 100%;
    height: auto;
}



/*slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 60%;
  height: 500px;
  position: relative;
    margin: 20%;
    margin-bottom: 0;
    margin-top: 120px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 75px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*slideshow*/